.footer-button {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #2C3E50;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    color: #FFFFFF;
    visibility: hidden; /* Standardmäßig unsichtbar */
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
}

.footer-button.visible {
    visibility: visible; /* Sichtbar, wenn am Ende der Seite */
    opacity: 1; /* Volle Sichtbarkeit */
}

.footer-button button {
    background: none;
    color: #FFFFFF;
    font-size: 1.1em;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
}

.footer-button button:hover {
    color: #FFD700; /* Goldene Farbe beim Hover */
    transform: scale(1.05); /* Leichte Vergrößerung beim Hover */
}

.footer-button button:focus {
    outline: none; /* Entfernt den Fokusrahmen */
}
